@import "tailwindcss";
@import "@inithium/ui/theme";
@source "../../../packages/ui/src";
@source "../../../packages/pages/src";
@source "../../../packages/router/src";

@source inline("{bg,text,border,border-b}-{primary,primary-contrast,secondary,secondary-contrast,accent,accent-contrast,success,success-contrast,warning,warning-contrast,danger,danger-contrast,surface,surface-contrast,surface2,surface2-contrast,surface3,surface3-contrast,surface4,surface4-contrast}");
@source inline("hover:{bg,text,border,border-b}-{primary,primary-contrast,secondary,secondary-contrast,accent,accent-contrast,success,success-contrast,warning,warning-contrast,danger,danger-contrast,surface,surface-contrast,surface2,surface2-contrast,surface3,surface3-contrast,surface4,surface4-contrast}");

.h-m-nav {
  min-height: calc(100vh - 72px);
}

::-webkit-scrollbar {
  width: 6px; 
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #7e8485;
  border-radius: 9999px;
}
